In [2]:
import numpy as np
import pandas as pd

In [51]:
df = pd.read_csv('covid19.csv')

In [52]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [53]:
x = df.drop(['has_covid'], axis=1)

In [54]:
y = df['has_covid']

In [55]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [56]:
from sklearn.compose import ColumnTransformer
tr = ColumnTransformer(transformers=[
    ('tfr1', OneHotEncoder(sparse_output=False, drop='first'),['gender', 'city']),
    ('tfr2', OrdinalEncoder(categories=[['Mild', 'Strong']]),['cough'])
], remainder='passthrough')

In [60]:
tr.fit_transform(x_train).shape

(63, 7)

In [61]:
tr.transform(x_test).shape

(27, 7)