In [1]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('car_price_prediction_.csv')

In [26]:
df = df.iloc[:, 1:]

In [27]:
df.head()

,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang

In [28]:
df['Condition'].nunique()

3

In [29]:
pd.get_dummies(df,columns=['Condition', 'Fuel Type'])

,Brand,Year,Engine Size,Transmission,Mileage,Price,Model,Condition_Like New,Condition_New,Condition_Used,Fuel Type_Diesel,Fuel Type_Electric,Fuel Type_Hybrid,Fuel Type_Petrol
0,Tesla,2016,2.3,Manual,114832,26613.92,Model X,False,True,False,False,False,False,True
1,BMW,2018,4.4,Manual,143190,14679.61,5 Series,False,False,True,False,True,False,False
2,Audi,2013,4.5,Manual,181601,44402.61,A4,False,True,False,False,True,False,False
3,Tesla,2011,4.1,Automatic,68682,86374.33,Model Y,False,True,False,True,False,False,False
4,Ford,2009,2.6,Manual,223009,73577.10,Mustang,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,Audi,2020,2.4,Automatic,22650,61384.10,Q5,True,False,False,False,False,False,True
2496,Audi,2001,5.7,Manual,77701,24710.35,A3,True,False,False,False,False,True,False
2497,Ford,2021,1.1,Manual,272827,29902.45,Fiesta,True,False,False,False,False,True,False
2498,Audi,2002,4.5,Manual,229164,46085.67,Q5,True,False,False,True,False,False,False
2499,Toyota,2005,4.6,Automatic,80978,16594.14,RAV4,False,False,True,True,False,False,False

In [30]:
 pd.get_dummies(df,columns=['Condition', 'Fuel Type'], drop_first=True)

,Brand,Year,Engine Size,Transmission,Mileage,Price,Model,Condition_New,Condition_Used,Fuel Type_Electric,Fuel Type_Hybrid,Fuel Type_Petrol
0,Tesla,2016,2.3,Manual,114832,26613.92,Model X,True,False,False,False,True
1,BMW,2018,4.4,Manual,143190,14679.61,5 Series,False,True,True,False,False
2,Audi,2013,4.5,Manual,181601,44402.61,A4,True,False,True,False,False
3,Tesla,2011,4.1,Automatic,68682,86374.33,Model Y,True,False,False,False,False
4,Ford,2009,2.6,Manual,223009,73577.10,Mustang,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2495,Audi,2020,2.4,Automatic,22650,61384.10,Q5,False,False,False,False,True
2496,Audi,2001,5.7,Manual,77701,24710.35,A3,False,False,False,True,False
2497,Ford,2021,1.1,Manual,272827,29902.45,Fiesta,False,False,False,True,False
2498,Audi,2002,4.5,Manual,229164,46085.67,Q5,False,False,False,False,False
2499,Toyota,2005,4.6,Automatic,80978,16594.14,RAV4,False,True,False,False,False

In [31]:
x = df.drop('Price',axis=1)
y = df['Price']

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [37]:
ohe = OneHotEncoder()

In [42]:
x_train_new = ohe.fit_transform(x_train[['Condition', 'Fuel Type']]).toarray()
x_test_new = ohe.fit_transform(x_train[['Condition', 'Fuel Type']]).toarray()

In [ ]:
x_train[['Brand', 'Mil']]