In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('country-list.csv')

In [4]:
df = df.iloc[:,0:2]

In [8]:
# getting csv file from github
url = "https://raw.githubusercontent.com/icyrockcom/country-capitals/refs/heads/master/data/country-list.csv"
dff = pd.read_csv(url)
dff.head()

                 country              capital            type
0               Abkhazia              Sukhumi  countryCapital
1            Afghanistan                Kabul  countryCapital
2  Akrotiri and Dhekelia  Episkopi Cantonment  countryCapital
3                Albania               Tirana  countryCapital
4                Algeria              Algiers  countryCapital

In [9]:
df.head()

                 country              capital
0               Abkhazia              Sukhumi
1            Afghanistan                Kabul
2  Akrotiri and Dhekelia  Episkopi Cantonment
3                Albania               Tirana
4                Algeria              Algiers