In [40]:
import pandas as pd
import numpy as np

In [41]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [42]:
df = pd.read_csv('Titanic.csv')[['Age', 'Fare', 'SibSp', 'Parch', 'Survived']]

In [43]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [44]:
df.dropna(inplace=True)

In [45]:
df['Family'] = df['SibSp'] + df['Parch']

In [46]:
df.head()

    Age     Fare  SibSp  Parch  Survived  Family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [47]:
df.drop(columns=['SibSp', 'Parch'], inplace=True)

In [48]:
df.head()

    Age     Fare  Survived  Family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [49]:
x =df.drop(columns=['Survived'])
y = df['Survived']

In [50]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [51]:
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
accuracy_score(y_test, y_pred)

0.6083916083916084

In [52]:
np.mean(cross_val_score(DecisionTreeClassifier(), x,y, cv=10, scoring='accuracy'))

np.float64(0.6415101721439749)

In [53]:
from sklearn.preprocessing import Binarizer

In [54]:
trf = ColumnTransformer([
    ('bin', Binarizer(copy=False),['Family'])
], remainder='passthrough')

In [55]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.transform(x_test)

In [56]:
pd.DataFrame(x_train_trf, columns=['Family', 'Fare', 'Age'])

     Family  Fare       Age
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [62]:
clf = DecisionTreeClassifier()
clf.fit(x_train_trf, y_train)
y_pred2 = clf.predict(x_test_trf)
accuracy_score(y_test, y_pred2)

0.6153846153846154